.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  padding-top: 50px;
  overflow-x: hidden;
  flex-wrap: wrap;
  padding-bottom: 40px;
}
.about-title {
  margin-top: 50px;
}
.about-title > p {
  font-size: 30px;
}
.content-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0 30px;
}
.content-container-left {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.content-container-left > p {
  text-align: left;
  font-size: 18px;
}
.content-container-left > p:first-child {
  margin: 0;
}

.content-container-right {
  display: flex;
  justify-content: center;
  width: 50%;
}
.content-container-right img {
  width: 100%;
  height: 620px;
  object-fit: cover;
}

@media (max-width: 500px) {
  .content-container {
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  .content-container-left {
    width: 90%;
  }
  .content-container-left > p {
    text-align: center;
    font-size: 15px;
  }
  .about-title {
    margin-top: 0;
  }
  .content-container-right {
    width: 100%;
  }
}
