.burger-menu {
  display: none;
}
.menu-options {
  position: absolute;
  top: calc(87% + 10px);
  right: 0;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  width: 116px;
}

.menu-options a {
  display: block;
  margin-bottom: 18px;
  color: black;
  text-shadow: none;
  margin-top: 10px;
}

@media (max-width: 500px) {
  .burger-menu {
    display: block;
  }
  .menu-options {
    display: block;
  }
}
