.header {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 0;
  width: 100%;
  height: 83px;
  min-height: 70px;
  z-index: 2;
}

.header-left {
  display: flex;
}

.header-left img {
  width: 80px;
  height: 50px;
}

.header-left-name {
  span {
    margin-right: 7px;
    font-size: 14px;
  }
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header-content {
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-right a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}

.header-right a:hover {
  color: whitesmoke;
  opacity: 1;
}

.burger-menu {
  display: none;
}

@media (max-width: 500px) {
  .burger-menu {
    display: block;
    cursor: pointer;
  }
  .header-left img {
    margin-left: 10px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
  }

  .nav-links.open {
    display: flex;
    top: 83px;
  }

  .header-right {
    flex-direction: column;
    align-items: flex-start;
  }
  .header-content {
    width: 100%;
  }
}
