.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.title-wrap {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.title-wrap > h6 {
  font-family: "PlayfairDisplay-Medium";
  font-weight: 450;
  margin: 0;
  font-size: 18px;
  text-align: center;
}

.title-wrap > h2 {
  font-family: "PlayfairDisplay-Medium";
  font-weight: 200;
  font-size: 28px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
}

.content-wrap {
  margin: 30px 0 45px;
  padding: 0 15px;
  text-align: center;
  overflow-wrap: break-word;
}

.content-wrap > p {
  margin: 0;
  font-size: 22px;
  text-align: center;
  font-weight: 400;
}
.text-right > p {
  text-align: right;
}

.read-more-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.read-more-btn > button {
  background-image: linear-gradient(
    to right,
    #da22ff 0%,
    #9733ee 51%,
    #da22ff 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.read-more-btn > button:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
@media (max-width: 500px) {
  .content-wrap > p {
    text-align: left;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }
  .title-wrap > h2 {
    font-size: 25px;
  }
  .title-wrap > h2 {
    font-size: 22px;
  }
}
.text-right > p {
  text-align: left;
  padding-left: 7px;
  padding-right: 7px;
}
.read-more-btn {
  margin-top: 0;
}
