@import url("./fonts.css");

#root {
  text-align: center;
  width: 100vw;
  max-width: 100vw;
}

.App {
  width: 100vw;
  background-color: #f4f6f4;
  overflow-x: hidden;
  max-width: 100vw;
  font-family: "PlayfairDisplay-Regular";
}

@media (max-width: 480px) {
  .App {
    width: fit-content;
  }
}
